<body>
    <div class="ContactUs">

        <div class="content">
            <div class="text">
               CONTACT ME
            </div>
            <form action="#">
               <div class="field">
                  <input required="" type="text" class="input">
                  <span class="span"></span>
                  <label class="label">Name</label>
               </div>
               <div class="field">
                  <input required="" type="text" class="input">
                  <span class="span"></span>
                  <label class="label">Email</label>
               </div>
               <div class="field">
                <textarea required="" class="input"></textarea>
                <span class="span"></span>
                <label class="label">Message</label>
             </div>
               <button class="button">SEND</button>
               <div class="sign-up">
                  THANK YOU !
                  <a href="#">CHECK MY WORK NOW</a>
               </div>
            </form>
         </div>
         <div class="ContactInfo">
            <div class="text">
               CONTACT INFO
            </div>
            <div class="info"><span>Email : </span><br> anibayassine@ieee.org <br><fa-icon [icon]="mail"></fa-icon></div>
            <div class="info"><span>Phone : </span><br> +216 90 552 146 <br><fa-icon [icon]="phone"></fa-icon></div>
            <div class="info"><span>Adress : </span><br> 13 Oasis Taib Mhiri Rades <br><fa-icon [icon]="location"></fa-icon></div>
            <div class="info"><span>Social Media : </span><br> Click! <br><a href=""><fa-icon [icon]="linkedin"></fa-icon></a></div>
         </div>
         
    </div>
</body>
