<h1>Skills</h1>

<div class="container">

  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Web Developper</p>
            <p>Hover Me</p>
        </div>
        <div class="flip-card-back">
            <ul class="title">
              <li><fa-icon [icon]="HTML5"></fa-icon>HTML5</li>
              <li><fa-icon [icon]="css"></fa-icon>CSS3</li>
              <li><fa-icon [icon]="js"></fa-icon>JS</li>
              <li><fa-icon [icon]="angular"></fa-icon>Angular</li>
              
            </ul>
        </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Hardware Developper</p>
            <p>Hover Me</p>
        </div>
        <div class="flip-card-back">
            <p class="title">
              Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Entrpreneur Student</p>
            <p>Hover Me</p>
        </div>
        <div class="flip-card-back">
            <p class="title">
              Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">Student</p>
            <p>Hover Me</p>
        </div>
        <div class="flip-card-back">
            <p class="title">
              Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
  </div>

</div>